<a href="https://colab.research.google.com/github/rahmanS1d1q/Learning/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Printing
---

In [ ]:
print('aku sedang belajar')

aku sedang belajar

Print untuk kalimat yang memiliki petik:
- Saya sedang melakukan pendakian 'Zenith' di Malang

In [ ]:
print('Saya sedang melakukan pendakian 'zenith' di Malang') # contoh salah
print("Saya sedang melakukan pendakian 'zenith' di Malang") # contoh benar

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1695258668.py, line 1)

## Variable
---

Joni membeli 3 **buku** untuk belajar

Ubah ke dalam variable:
- buku = 3 --> ini adalah variable

In [ ]:
buku = 3
print(buku)

3

Lebih advance lagi yuk!

Ana sedang belanja 3 pensil dengan harga Rp.5000, buatlah sebuah variable dari kalimat tersebut!

In [ ]:
alat_tulis = 3
harga = 5000

print(alat_tulis, harga)

3 5000

Printing di atas kurang bermakna, kita buat tampilannya seperti di bawah ini:

  - `Ana sedang belanja 3 pensil dengan harga Rp.5000`

In [ ]:
alat_tulis = 3
harga = 5000

print(f'Ana sedang belanja {buku} pensil dengan harga {harga}')

Ana sedang belanja 3 pensil dengan harga 5000

## Tipe data
---

Primitive tipe data:

| Tipe Data | Contoh Nilai | Penjelasan | Contoh Penggunaan |
|-----------|--------------|------------|-------------------|
| int | 10, -5, 0 | Bilangan bulat tanpa desimal | `age = 25` |
| float | 3.14, 0.5 | Bilangan desimal | `price = 99.99` |
| str | "halo", 'Python' | Teks / kumpulan karakter | `name = "Andi"` |
| bool | True, False | Nilai kebenaran | `is_active = True` |

In [ ]:
age = 25
price = 99.99
name = "andi"
is_active = True

# check tipe data
print(type(age))
print(type(price))
print(type(name))
print(type(is_active))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Boolean
---

#### Operator Perbandingan
---

| Operator | Nama | Contoh | Hasil |
|--------|------|--------|-------|
| `==` | Sama dengan | `5 == 5` | `True` |
| `!=` | Tidak sama dengan | `5 != 3` | `True` |
| `>` | Lebih besar dari | `5 > 3` | `True` |
| `<` | Lebih kecil dari | `5 < 3` | `False` |
| `>=` | Lebih besar atau sama | `5 >= 5` | `True` |
| `<=` | Lebih kecil atau sama | `5 <= 3` | `False` |

In [ ]:
# contoh sederhana
print(5 < 3)
print('andi' == 'andi')
print(1 != 3)

False
True
True

Buatlah perbandingan di bawah ini!

- Umur adik lebih besar dari umur kakak pertama, tapi umur kakak pertama lebih kecil dari umur kakak kedua.
- Apakah umur kakak kedua lebih besar dari umur adik?

In [ ]:
# variable data
umur_adik = 15
umur_kakak_pertama = 13
umur_kakak_kedua = 18

print(f"Adik > Kakak Pertama: {umur_adik > umur_kakak_pertama}")
print(f"Kakak Pertama < Kakak Kedua: {umur_kakak_pertama < umur_kakak_kedua}")
print(f"Kakak Kedua > Adik: {umur_kakak_kedua > umur_adik}")

Adik > Kakak Pertama: True
Kakak Pertama < Kakak Kedua: True
Kakak Kedua > Adik: True

### Operator Logika
---

| Operator | Nama | Contoh | Penjelasan |
|--------|------|--------|------------|
| `and` | Logika DAN | `age >= 18 and is_login` | True jika **semua kondisi benar** |
| `or` | Logika ATAU | `age < 18 or is_student` | True jika **salah satu kondisi benar** |
| `not` | Logika TIDAK | `not is_active` | Membalik nilai boolean |

In [ ]:
# AND CONDITION
True and True = True
True and False = False
False and True = False
False and False = False

In [ ]:
# Or CONDITION
True or True = True
True or False = True
False or True = True
False or False = False

In [ ]:
not True = False

Seseorang boleh masuk jika:
  - umurnya 18 tahun atau lebih
  - sudah login

Pertanyaan:
- Apakah seseorang boleh masuk jika umurnya 20 tahun dan sudah login?

In [ ]:
# variable
age = 20
is_login = True

# operator age
age_compare = age >= 18 # True

# gabungkan kondisi yang ada
age_compare and is_login # semua syarat harus terpenuhi

True

Seseorang boleh mengakses sistem jika:
  - sudah login dan akun aktif,
  - atau dia adalah admin

Pertanyaan:
- Apakah seseorang boleh mengakses sistem jika belum login, akun aktif, dan dia adalah admin?

In [ ]:
# variable
is_login = False
is_active = True
is_admin = True

# operator per kondisi
login_and_active = is_login and is_active # false
admin_compare = is_admin # True

# gabungkan kondisi yang ada
hasil = login_and_active or admin_compare

print("Sudah login:", is_login)
print("Akun aktif:", is_active)
print("Admin:", is_admin)

print("\nLogin dan aktif:", login_and_active)
print("Admin:", admin_compare)

print("\nBoleh akses sistem:", hasil)

Sudah login: False
Akun aktif: True
Admin: True

Login dan aktif: False
Admin: True

Boleh akses sistem: True

## Conditional
---

`if / elif / else`
`if / elif / else` adalah **control flow statement** yang digunakan untuk menjalankan kode **berdasarkan kondisi** (`True` atau `False`).

---

Struktur Dasar

```python
if kondisi:
    # dijalankan jika kondisi True
elif kondisi_lain:
    # dijalankan jika kondisi_lain True
else:
    # dijalankan jika semua kondisi False

In [ ]:
# 1 kondisi
if 5 > 3: # TRUE
  print('lima lebih besar dari 3')

lima lebih besar dari 3

In [ ]:
if 2 > 3:
  print('lima lebih besar dari 3')
else:
  print('lima tidak lebih besar dari 3')

lima tidak lebih besar dari 3

Soal:

- Diketahui ibu nana belanja 5 buah apel
- Supermarket memberikan diskon 5% jika total belanja minimal Rp.10_000
- 1 buah apel dihargai 2_000

Berapa total belanja ibu nana?

In [ ]:
# variable
apel = 5
harga_apel = 2_000

diskon = 0.05

# hitung belanja ibu nana
total_belanja = apel * harga_apel

if total_belanja >= 10_000:

  # diskon
  diskon = total_belanja * diskon

  # total belanja
  belanja = total_belanja - diskon

  print(f'Total belanja ibu nana sebesar {belanja} dengan diskon 5%')

else:
  print('anda tidak mendapakan diskon')

Total belanja ibu nana sebesar 9500.0 dengan diskon 5%

Soal: Penilaian Kelulusan Siswa

Diketahui:
- Nilai ujian seorang siswa disimpan dalam variabel `nilai`
- Kriteria kelulusan:
  - Jika nilai **≥ 85** → Predikat **A**
  - Jika nilai **≥ 70 dan < 85** → Predikat **B**
  - Jika nilai **≥ 60 dan < 70** → Predikat **C**
  - Jika nilai **< 60** → **Tidak Lulus**

Pertanyaan:
1. Predikat apa yang didapat siswa?
2. Apakah siswa tersebut lulus atau tidak?

In [ ]:
nilai = 72

if nilai >= 85:
    print("Predikat A - Lulus")

elif nilai >= 70:
    print("Predikat B - Lulus")

elif nilai >= 60:
    print("Predikat C - Lulus")

else:
    print("Predikat D - Tidak Lulus")

Predikat B - Lulus

Statement code python bisa digunakan dengan boolean

In [ ]:
# variable
nilai = 82
kehadiran = 0.78
tidak_melanggar = True

if nilai >= 85 and kehadiran >= 0.8 and tidak_melanggar:
    print("Lulus dengan Predikat A")

elif nilai >= 70 and kehadiran >= 0.75 and tidak_melanggar:
    print("Lulus dengan Predikat B")

elif nilai >= 60 and kehadiran >= 0.7:
    print("Lulus Bersyarat")

else:
    print("Tidak Lulus")

Lulus dengan Predikat B

### Nested If (If Bersarang)

`Nested if` adalah **if statement yang berada di dalam if statement lain**.  
Digunakan ketika **sebuah kondisi hanya perlu dicek jika kondisi sebelumnya terpenuhi**.

---

### Struktur Dasar Nested If

```python
if kondisi_utama:
    # dijalankan jika kondisi_utama True

    if kondisi_lanjutan:
        # dijalankan jika kondisi_lanjutan True
    else:
        # dijalankan jika kondisi_lanjutan False

else:
    # dijalankan jika kondisi_utama False

In [ ]:
# variable
nilai = 75
kehadiran = 0.85

if nilai >= 70:
    print("Nilai memenuhi")

    if kehadiran >= 0.8:
        print("Lulus")
    else:
        print("Tidak lulus karena kehadiran kurang")

else:
    print("Tidak lulus karena nilai kurang")

Nilai memenuhi
Lulus

Soal Cerita: Perhitungan Gaji Karyawan (Nested If)

---

Sebuah perusahaan ingin menghitung **gaji bersih karyawan** berdasarkan beberapa aturan berikut.

Data Karyawan
Setiap karyawan memiliki data:
- `gaji_pokok`
- `lama_kerja` (dalam tahun)
- `status_karyawan` → `"tetap"` atau `"kontrak"`
- `menikah` → `True` atau `False`
- `jumlah_anak`

---

Aturan Perusahaan

Status Karyawan
- Jika **status karyawan adalah "tetap"**:
  - Karyawan **berhak atas tunjangan**
- Jika **status karyawan adalah "kontrak"**:
  - **Tidak mendapatkan tunjangan**
  - Langsung ke perhitungan gaji bersih

---

Lama Kerja (Hanya untuk Karyawan Tetap)
- Jika `lama_kerja` **≥ 5 tahun**:
  - Tunjangan masa kerja **10% dari gaji pokok**
- Jika `lama_kerja` **< 5 tahun**:
  - Tunjangan masa kerja **5% dari gaji pokok**

---

Status Pernikahan (Hanya untuk Karyawan Tetap)
- Jika `menikah == True`:
  - Mendapat tunjangan keluarga:
    - **Rp300.000** jika memiliki **anak**
    - **Rp200.000** jika **belum memiliki anak**
- Jika `menikah == False`:
  - Tidak mendapatkan tunjangan keluarga

---

Pajak
- Jika **gaji kotor ≥ Rp7.000.000** → pajak **10%**
- Jika **gaji kotor < Rp7.000.000** → pajak **5%**

---

Tugas
Buatlah program Python menggunakan **nested if** untuk:
1. Menghitung **gaji kotor**
2. Menghitung **pajak**
3. Menghitung **gaji bersih**
4. Menampilkan rincian gaji karyawan

---

Contoh Data

```python
gaji_pokok = 6_000_000
lama_kerja = 6
status_karyawan = "tetap"
menikah = True
jumlah_anak = 2

In [ ]:
# Data karyawan
gaji_pokok = 6_000_000
lama_kerja = 6                 # tahun
status_karyawan = "tetap"      # "tetap" / "kontrak"
menikah = True
jumlah_anak = 2

# Inisialisasi
tunjangan_masa_kerja = 0
tunjangan_keluarga = 0

# Status karyawan
if status_karyawan == "tetap":
    print("Status karyawan: Tetap")

    # Lama kerja
    if lama_kerja >= 5:
        kalkulasi = 0.10 * gaji_pokok
        tunjangan_masa_kerja = gaji_pokok + kalkulasi
    else:
        kalkulasi = 0.05 * gaji_pokok
        tunjangan_masa_kerja = gaji_pokok + kalkulasi

    # Status pernikahan
    if menikah:
        if jumlah_anak > 0:
            tunjangan_keluarga = 300_000
        else:
            tunjangan_keluarga = 200_000
    else:
        tunjangan_keluarga = 0

else:
    print("Status karyawan: Kontrak")
    tunjangan_masa_kerja = 0
    tunjangan_keluarga = 0

# Hitung gaji kotor
gaji_kotor = gaji_pokok + tunjangan_masa_kerja + tunjangan_keluarga

# Pajak
if gaji_kotor >= 7_000_000:
    pajak_persen = 0.10
else:
    pajak_persen = 0.05

pajak = gaji_kotor * pajak_persen

# Gaji bersih
gaji_bersih = gaji_kotor - pajak

# Output
print("Gaji pokok:", gaji_pokok)
print("Tunjangan masa kerja:", int(tunjangan_masa_kerja))
print("Tunjangan keluarga:", tunjangan_keluarga)
print("Gaji kotor:", int(gaji_kotor))
print(f"Pajak: {int(pajak_persen * 100)}%")
print("Gaji bersih:", int(gaji_bersih))

Status karyawan: Tetap
Gaji pokok: 6000000
Tunjangan masa kerja: 600000
Tunjangan keluarga: 300000
Gaji kotor: 6900000
Pajak: 5%
Gaji bersih: 6555000

## Data Structure
---

### List
---

| Karakteristik | Keterangan Singkat |
|--------------|------------------|
| Ordered | Elemen memiliki urutan (index mulai dari 0) |
| Mutable | Isi list dapat diubah |
| Duplikat | Elemen boleh memiliki nilai yang sama |
| Index-based | Akses elemen menggunakan index |
| Multi-type | Dapat berisi berbagai tipe data |
| Dynamic | Ukuran list dapat bertambah / berkurang |
| Iterable | Bisa digunakan dalam `for` loop |
| Nested | Bisa berisi list di dalam list |

---

In [ ]:
list_ = []
type(list_)

list

In [ ]:
list_numerik = [1, 3, 5, 1.2]
list_string = ['jeruk', 'apel', 'nangka']
list_mix = [1, 2, 3, 'jeruk', 1.1]

print('list_numerik', list_numerik)
print('list_string', list_string)
print('list_mix', list_mix)

list_numerik [1, 3, 5, 1.2]
list_string ['jeruk', 'apel', 'nangka']
list_mix [1, 2, 3, 'jeruk', 1.1]

![image.png]()

Source img : `aipython.in`

![image.png]()

Source : **wokepedia7.wordpress.com**

In [ ]:
data = ["a", "b", "c", "d"]

data[2]

'c'

Temukan kalimat apel di bawah ini

```python
data = ['jeruk', 'nangka', 'apel']

In [ ]:
data = ['jeruk', 'nangka', 'apel']

data[-1]

'apel'

keluarkan data list berikut
- `pisang`
- `jeruk, nangka, apel`

```python
data = ["jeruk", "nangka", "apel",[3, "pisang"], "anggur"]

In [ ]:
data = ["jeruk", "nangka", "apel",[3, "pisang"], "anggur"]

print(data[-2][1])
print(data[:3])

pisang
['jeruk', 'nangka', 'apel']

| Method | Fungsi Singkat |
|------|---------------|
| `append(x)` | Menambah elemen ke akhir list |
| `insert(i, x)` | Menambah elemen di index tertentu |
| `extend(iterable)` | Menggabungkan list dengan iterable lain |
| `remove(x)` | Menghapus elemen berdasarkan nilai |
| `pop()` | Menghapus elemen terakhir |
| `pop(i)` | Menghapus elemen pada index tertentu |
| `clear()` | Menghapus semua elemen |
| `index(x)` | Mengambil index dari nilai |
| `count(x)` | Menghitung jumlah nilai |
| `sort()` | Mengurutkan list |
| `reverse()` | Membalik urutan list |
| `copy()` | Menyalin list |

Soal:

- Dalam daftar peserta, satu peserta membatalkan pendaftaran. Data peserta tersebut harus dihapus dari daftar.

In [ ]:
participants = ["Andi", "Budi", "Citra"]
participants.remove("Budi")

print(participants)

['Andi', 'Citra']

Soal:
- Dalam daftar hadir, seorang tamu VIP harus dimasukkan di urutan kedua, meskipun datang belakangan.

In [ ]:
attendance = ["Andi", "Budi", "Citra"]
attendance.insert(1, "VIP")

print(attendance)

['Andi', 'VIP', 'Budi', 'Citra']

Soal:
- Sebuah aplikasi ingin menampilkan daftar nilai dari yang terendah ke tertinggi agar mudah dianalisis.

In [ ]:
scores = [75, 90, 60, 85]
scores.sort()

print(scores)

[60, 75, 85, 90]

### Dict
---

| Karakteristik | Keterangan Singkat |
|--------------|------------------|
| Key–Value | Data disimpan dalam pasangan `key: value` |
| Ordered | Urutan data sesuai urutan input (Python ≥ 3.7) |
| Mutable | Isi dictionary dapat diubah |
| Key Unik | Key tidak boleh duplikat |
| Value Bebas | Value boleh duplikat dan berbagai tipe |
| Index-free | Akses data menggunakan key, bukan index |
| Dynamic | Ukuran dapat bertambah / berkurang |
| Iterable | Bisa di-loop melalui key, value, atau item |
| Nested | Bisa berisi dictionary di dalam dictionary |

---

In [ ]:
dict_ = {}
type(dict_)

dict

In [ ]:
data = {
    "x": "a",
    "y": "b",
    "z": "c",
    "w": "d"
}

data

{'x': 'a', 'y': 'b', 'z': 'c', 'w': 'd'}

In [ ]:
data = {
    "x": ["a", "b"],
    "y": ["c", "d"],
    "z": ["e", "f"],
    "w": ["g", "h"]
}

data

{'x': ['a', 'b'], 'y': ['c', 'd'], 'z': ['e', 'f'], 'w': ['g', 'h']}

| Method | Fungsi Singkat |
|------|---------------|
| `keys()` | Mengambil semua key |
| `values()` | Mengambil semua value |
| `items()` | Mengambil pasangan key–value |
| `get(key)` | Mengambil value tanpa error |
| `update(dict)` | Menambah / memperbarui data |
| `pop(key)` | Menghapus data berdasarkan key |
| `popitem()` | Menghapus pasangan terakhir |
| `clear()` | Menghapus semua data |
| `copy()` | Menyalin dictionary |
| `setdefault(key, val)` | Mengambil value, atau set default |

Soal:

- Sebuah sistem menyimpan data pengguna dalam bentuk dictionary. Kita ingin mengambil **email pengguna**, tetapi tidak yakin apakah key tersebut selalu ada.

In [ ]:
user = {
    "name": "Andi",
    "age": 25
}

email = user.get("email")
print(email)

None

Soal:

- Sistem ingin menambahkan alamat ke data user yang sudah ada.

In [ ]:
user = {
    "name": "Andi",
    "age": 25
}

user.update({
    "address": "Jakarta"
})

print(user)

{'name': 'Andi', 'age': 25, 'address': 'Jakarta'}

Soal:
- User menonaktifkan akun, maka data age perlu dihapus dari sistem.

In [ ]:
user = {
    "name": "Andi",
    "age": 25,
    "address": "Jakarta"
}

user.pop("age")
print(user)

{'name': 'Andi', 'address': 'Jakarta'}

## Looping
---

### For Loop (Python)
---

`for` digunakan untuk **mengulang eksekusi kode** terhadap setiap elemen di dalam suatu **iterable** (seperti `range`, `list`, atau `string`).

---

Struktur Dasar

```python
for variabel in iterable:
    # kode yang diulang

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

`range(start, stop, step)`

`range()` memiliki **3 parameter utama**:
```python
range(start, stop, step)

In [ ]:
for i in range(1, 10, 3): # start, stop, step
    print(i)

1
4
7

### Loop Bersarang (Nested Loop)
---

Loop bersarang adalah **loop di dalam loop**.  
Artinya, **loop di dalam akan dijalankan sepenuhnya setiap satu kali loop luar berjalan**.

---

Struktur Dasar

```python
for i in iterable_luar:
    for j in iterable_dalam:
        # kode dijalankan

In [ ]:
# iterasi 1
for i in range(1, 4):

    # iterasi 2
    for j in range(1, 11):

        hasil = i * j
        print(f"{i} x {j} = {hasil}")
    print("-" * 16)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------------

Looping bisa dihubungkan dengan syntax lain seperti `statetment`

In [ ]:
# variable
data = 7

for i in range(data):
    if i % 2 == 0:
        print(f"{i} adalah bilangan genap")
    else:
        print(f"{i} adalah bilangan ganjil")

0 adalah bilangan genap
1 adalah bilangan ganjil
2 adalah bilangan genap
3 adalah bilangan ganjil
4 adalah bilangan genap
5 adalah bilangan ganjil
6 adalah bilangan genap

In [ ]:
# initialize
jumlah_genap = 0
data = 7

for i in range(data):
    if i % 2 == 0:

        # jumlahkan ke initialize
        jumlah_genap += 1
        print(f"{i} adalah bilangan genap, jumlah sekarang = {jumlah_genap}")
    else:
        print(f"{i} adalah bilangan ganjil")

print("Jumlah bilangan genap:", jumlah_genap)

0 adalah bilangan genap, jumlah sekarang = 1
1 adalah bilangan ganjil
2 adalah bilangan genap, jumlah sekarang = 2
3 adalah bilangan ganjil
4 adalah bilangan genap, jumlah sekarang = 3
5 adalah bilangan ganjil
6 adalah bilangan genap, jumlah sekarang = 4
Jumlah bilangan genap: 4

`enumerate` digunakan untuk **mengambil index dan nilai sekaligus** saat melakukan perulangan pada data yang bersifat iterable (seperti list).

Dengan `enumerate`, kita **tidak perlu menghitung index secara manual**, karena Python akan menyediakannya otomatis.

---

Struktur Dasar

```python
for index, nilai in enumerate(iterable):
    # kode yang diulang

In [ ]:
data = ["a", "b", "c"]

for i, v in enumerate(data):
    print(i, v)

0 a
1 b
2 c

`zip` digunakan untuk **menggabungkan beberapa iterable** dan melakukan perulangan **secara bersamaan** berdasarkan posisi index yang sama.

Perulangan akan **berjalan selama iterable terpendek masih memiliki elemen**.

---

Struktur Dasar

```python
for a, b in zip(iterable1, iterable2):
    # kode yang diulang

In [ ]:
names = ["Andi", "Budi", "Citra"]
scores = [80, 90, 85]

for name, score in zip(names, scores):
    print(name, score)

Andi 80
Budi 90
Citra 85

### While Loop

---

`while` digunakan untuk **mengulang eksekusi kode selama suatu kondisi bernilai `True`**.  
Perulangan akan **berhenti ketika kondisi menjadi `False`**.

---

Struktur Dasar

```python
while kondisi:
    # kode yang diulang

In [ ]:
i = 1

while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Buat program menggunakan `while` untuk menjumlahkan uang sampai mencapai Rp10.000.

In [ ]:
total = 0

while total < 10_000:
    uang = int(input("Masukkan uang: "))
    total += uang

print("Pembayaran selesai")

Masukkan uang: 1
Masukkan uang: 11000
Pembayaran selesai

### `break`, `continue`, dan `pass`
---

`break` dan `continue` digunakan untuk **mengontrol alur perulangan** pada `for` dan `while`.

---


`break` digunakan untuk **menghentikan loop sepenuhnya**, meskipun kondisi loop masih memungkinkan untuk berjalan.

Struktur Dasar:
```python
for item in iterable:
    if kondisi:
        break
```

`continue` digunakan untuk melewati satu iterasi dan langsung melanjutkan ke iterasi berikutnya, tanpa menghentikan loop.

Struktur Dasar:
```python
for item in iterable:
    if kondisi:
        continue
```

`pass` digunakan sebagai placeholder atau pernyataan kosong.
Digunakan saat struktur loop sudah benar, tetapi belum ada aksi yang ingin dijalankan.

Struktur Dasar:
```python
for item in iterable:
    if kondisi:
        pass
```

Soal:
- Hentikan perulangan saat angka `0` ditemukan.

In [ ]:
data = [5, 3, 2, 0, 9]

# iterasi
for x in data:

    # kondisi
    if x == 0:
        break # stop
    print(x)

5
3
2

Soal:
- Lewati nilai yang kurang dari 60.

In [ ]:
scores = [80, 55, 90, 40, 70]

# iterasi
for s in scores:

    # kondisi
    if s < 60:
        continue # lanjutkan
    print(s)

80
90
70

Soal:
- Siapkan struktur perulangan untuk validasi yang belum dibuat.

In [ ]:
data = [1, 2, 3, 4]

for x in data:
    if x == 3:
        pass
    else:
        print(x)

1
2
4

## Function
---

`Function` digunakan untuk **mengelompokkan kode** agar bisa dipakai ulang dan membuat program lebih rapi.

---

`print` vs `return`

`print` digunakan untuk **menampilkan output ke layar**.

- Hanya untuk **melihat hasil**
- Nilainya **tidak bisa dipakai lagi**
- Biasanya untuk debugging atau tampilan

Contoh konsep:
> “Tampilkan hasilnya saja.”

---

`return` digunakan untuk **mengembalikan nilai dari function**.

- Nilainya **bisa disimpan**
- Bisa diproses lagi
- Menghentikan eksekusi function

Contoh konsep:
> “Kembalikan hasilnya supaya bisa dipakai.”

---

Perbedaan Inti

| `print` | `return` |
|------|--------|
| Menampilkan hasil | Mengembalikan nilai |
| Tidak bisa dipakai lagi | Bisa disimpan & diolah |
| Untuk tampilan | Untuk logika program |

---

In [ ]:
def show():
  print('python')

func_ = show()

python

In [ ]:
def show():
  return('python')

# panggil function
func_ = show()

In [ ]:
def formula():

  # initialize
  betha = 0.02

  return betha

# panggil function
betha = formula()

# gunakan hasil function
betha * 1

0.02

**Parameter** adalah **nilai input** yang diterima oleh sebuah function agar function tersebut dapat bekerja secara fleksibel.

---

Fungsi Parameter
- Mengirim data ke dalam function
- Membuat function bisa digunakan untuk berbagai kasus
- Menghindari hardcode nilai di dalam function

---

Struktur Dasar
```python
def nama_function(parameter):
    # gunakan parameter di sini

In [ ]:
# Parameter tunggal
def greet(name):
    print(f"Halo {name}")

greet("Andi")

Halo Andi

In [ ]:
# Multiple parameter
def add(a, b):
    return a + b

hasil = add(3, 4)
print(hasil)

7

In [ ]:
# Default parameter
def greet_user(name, role="user"):
    print(f"Halo {name}, role kamu adalah {role}")

greet_user("Budi")
greet_user("Citra", "admin")

Halo Budi, role kamu adalah user
Halo Citra, role kamu adalah admin

In [ ]:
# kwargs (**kwargs)
def print_profile(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_profile(name="Andi", age=25, city="Jakarta")

name: Andi
age: 25
city: Jakarta

### Comment
---

`Single-line Docstring`
Digunakan jika penjelasan **singkat dan sederhana**.

Ciri:
- Satu baris
- Langsung menjelaskan tujuan function

Contoh konsep:
> Menjelaskan fungsi secara ringkas

---

`Multi-line Docstring`
Digunakan jika penjelasan **lebih lengkap**.

Ciri:
- Lebih dari satu baris
- Bisa menjelaskan:
  - tujuan function
  - parameter
  - nilai return

Contoh konsep:
> Dokumentasi lengkap untuk function yang kompleks

---

Soal:

Buatlah sebuah function bernama `say_hello` yang:
- Tidak memiliki parameter
- Menampilkan pesan salam
- Menggunakan **single-line docstring**

In [ ]:
def say_hello():
    """Menampilkan pesan salam."""
    print("Hello!")

Soal:

Buatlah function add_numbers yang:
- Menerima dua parameter
- Mengembalikan hasil penjumlahan
- Menggunakan multi-line docstring

In [ ]:
def maksimum(data, ambil_indeks=False):
    """
    Mencari nilai maksimum dari sebuah list.

    Parameters
    ----------
    data : list of int or float
        List yang berisi angka-angka.

    ambil_indeks : bool, optional
        Jika True, return tuple (nilai, indeks). Default False.

    Returns
    -------
    int or float or tuple
        Nilai maksimum dari list, atau tuple (nilai, indeks)
        jika ambil_indeks=True.
    """
    nilai_maks = max(data)

    if ambil_indeks:
        indeks = data.index(nilai_maks)
        return nilai_maks, indeks

    return nilai_maks

# Panggil function
data = [10, 25, 7, 30, 18]

# Ambil nilai maksimum saja
hasil = maksimum(data)
print(hasil)

30

Soal:

Sebuah sistem ingin memeriksa daftar nilai siswa satu per satu.

diketahui:

- Jika nilai lebih kecil dari 60, sistem menandai bahwa masih ada siswa yang belum lulus
- Jika semua nilai 60 atau lebih, maka semua siswa lulus

In [ ]:
# tanpa function
scores = [70, 80, 55, 90]

semua_lulus = True

# loop
for nilai in scores:

    # kondisi jka kurang dari 60
    if nilai < 60:
        semua_lulus = False

if semua_lulus:
    print("Semua siswa lulus")
else:
    print("Masih ada siswa yang belum lulus")

Masih ada siswa yang belum lulus

In [ ]:
# menggunakan function
def cek_kelulusan(scores):
    """
    Mengecek kelulusan siswa berdasarkan daftar nilai.

    Parameters
    ----------
    scores : list of int
        Daftar nilai siswa.

    Returns
    -------
    bool
        True jika semua nilai >= 60.
        False jika ada nilai < 60.
    """
    semua_lulus = True

    for nilai in scores:
        if nilai < 60:
            semua_lulus = False

    return semua_lulus

# data
data_nilai = [70, 80, 55, 90]

hasil = cek_kelulusan(data_nilai)

if hasil:
    print("Semua siswa lulus")
else:
    print("Masih ada siswa yang belum lulus")

Masih ada siswa yang belum lulus

## Error Handling Try, Except, Raise
---

Error handling digunakan untuk **menangani kesalahan** agar program tidak langsung berhenti saat terjadi error.

---

`try` dan `except`

Digunakan untuk:
- mencoba menjalankan kode
- menangani error jika terjadi kegagalan

Struktur Dasar
```python
try:
    # kode yang berpotensi error
except:
    # kode jika error terjadi

In [ ]:
try:
    hasil = 10 / 0
    print(hasil)
except:
    print("Terjadi error saat pembagian")

Terjadi error saat pembagian

In [ ]:
try:
    angka = int("abc")
except ValueError:
    print("Input bukan angka")

Input bukan angka

 Macam-macam Error (Exception):

| Exception | Keterangan Singkat |
|----------|-------------------|
| `ValueError` | Nilai tidak sesuai tipe yang diharapkan |
| `TypeError` | Operasi pada tipe data yang salah |
| `ZeroDivisionError` | Pembagian dengan nol |
| `IndexError` | Index di luar jangkauan |
| `KeyError` | Key tidak ditemukan di dictionary |
| `NameError` | Variabel belum didefinisikan |
| `AttributeError` | Atribut tidak ada pada objek |
| `FileNotFoundError` | File tidak ditemukan |
| `ImportError` | Gagal mengimpor module |
| `RuntimeError` | Error saat runtime tanpa kategori spesifik |
| `Exception` | Induk dari semua exception |

---

In [ ]:
umur = -5

if umur < 0:
    raise ValueError("Umur tidak boleh negatif")

print("Umur valid")

ValueError: Umur tidak boleh negatif

## Object-oriented programming (OOP)
---

### OOP 1
---

Apa itu OOP?

**Object-Oriented Programming (OOP)** adalah paradigma pemrograman yang mengorganisasi kode ke dalam **class** dan **object**, sehingga data dan perilaku digabung dalam satu struktur.

---

Komponen Dasar OOP

Class adalah definisi struktur object yang berisi:
- attribute (data)
- method (fungsi)

```python
class User:
    pass

In [ ]:
class User:
  pass

# instance
user1 = User()

Spesial Method:

| Special Method | Dipanggil Saat | Kegunaan |
|---------------|---------------|----------|
| `__init__` | Object dibuat | Inisialisasi attribute |
| `__str__` | `print()` / `str()` | Representasi string user-friendly |
| `__repr__` | `repr()` | Representasi resmi (debugging) |
| `__eq__` | `==` | Perbandingan object |
| `__lt__` | `<` | Perbandingan urutan |
| `__len__` | `len()` | Panjang object |
| `__getitem__` | Indexing | Akses elemen |
| `__iter__` | `for` loop | Membuat object iterable |
| `__next__` | Iterasi | Mengambil elemen berikutnya |
| `__call__` | `obj()` | Object dapat dipanggil seperti fungsi |
| `__enter__` | `with` | Masuk context manager |
| `__exit__` | Keluar `with` | Keluar & cleanup context |
| `__add__` | `+` | Operator penjumlahan |
| `__hash__` | `hash()` | Digunakan di `set` / `dict` key |

---
Reference:
- https://docs.python.org/3/reference/datamodel.html#special-method-names

In [ ]:
class User:
    def __init__(self, name, age):
        # Dipanggil saat object dibuat
        self.name = name  # instance attribute
        self.age = age   # instance attribute

    def __str__(self):
        # Dipanggil oleh print()
        return f"User(name={self.name}, age={self.age})"

    def __repr__(self):
        # Representasi resmi (debug)
        return f"User('{self.name}', {self.age})"

    def __eq__(self, other):
        # Dipanggil saat menggunakan ==
        return self.name == other.name and self.age == other.age

    def __len__(self):
        # Dipanggil oleh len()
        return self.age

    def __call__(self):
        # Object bisa dipanggil seperti fungsi
        print(f"Hello, {self.name}")

In [ ]:
# instance
u1 = User("Andi", 25)
u2 = User("Andi", 25)

print(u1)            # __str__
print(repr(u1))      # __repr__
print(u1 == u2)      # __eq__
print(len(u1))       # __len__
u1()                 # __call__

User(name=Andi, age=25)
User('Andi', 25)
True
25
Hello, Andi

Soal :

- Kamu diminta membuat sistem sederhana untuk mengelola data Mahasiswa.

Setiap Mahasiswa memiliki:
  - `nama`
  - `umur`
  = `jurusan`

Mahasiswa juga bisa melakukan aksi:
- menampilkan data dirinya
- menentukan apakah sudah dewasa atau belum

In [ ]:
class Mahasiswa:
    def __init__(self, nama, umur, jurusan):
        # instance attributes
        self.nama = nama
        self.umur = umur
        self.jurusan = jurusan

    def info(self):
        print(f"Nama: {self.nama}, Umur: {self.umur}, Jurusan: {self.jurusan}")

    def is_dewasa(self):
        return self.umur >= 18

In [ ]:
# instance
m1 = Mahasiswa(nama = "Andi", umur = 20, jurursan = "Informatika")
m2 = Mahasiswa("Budi", 16, "Sistem Informasi")

m1.info()
print(m1.is_dewasa())
print(m2.is_dewasa())

Nama: Andi, Umur: 20, Jurusan: Informatika
True
False

Soal:

Selain menyimpan data awal, sistem ini harus bisa memperbarui data mahasiswa setelah dibuat.

In [ ]:
class Mahasiswa:
    def __init__(self, nama, umur, jurusan):
        # instance attributes
        self.nama = nama
        self.umur = umur
        self.jurusan = jurusan

    def info(self):
        print(f"Nama: {self.nama}, Umur: {self.umur}, Jurusan: {self.jurusan}")

    def is_dewasa(self):
        return self.umur >= 18

    # method lanjutan (ada input)
    def update_jurusan(self, jurusan_baru):
        self.jurusan = jurusan_baru

In [ ]:
# instance
m1 = Mahasiswa("Andi", 20, "Informatika")

# sebelum update jurusan
m1.info()

# update jurusan
m1.update_jurusan("Data Science")

# sesudah update jurusan
m1.info()

Nama: Andi, Umur: 20, Jurusan: Informatika
Nama: Andi, Umur: 20, Jurusan: Data Science

### OOP 2 - Child Class (Inheritance)
---

Inheritance adalah konsep OOP di mana **sebuah class (child)** mewarisi **attribute dan method** dari **class lain (parent)**.

---

Parent class adalah class dasar yang akan diwarisi.

```python
class User:
    def __init__(self, name):
        self.name = name

    def info(self):
        print(f"User name: {self.name}")
```
Child class adalah class yang mewarisi parent class menggunakan tanda kurung ()

```python
class Admin(User):
    def __init__(self, name, role):
        super().__init__(name)
        self.role = role
```
- Admin(User) → Admin adalah child, User adalah parent
- super().__init__(name) → memanggil constructor parent

In [ ]:
class User:
    def __init__(self, name):
        self.name = name

    def info(self):
        print(f"User name: {self.name}")

class Admin(User): # parent class dipanggil kesini
    def __init__(self, name, role):
        super().__init__(name)
        self.role = role

In [ ]:
admin = Admin(name = "Andi", role = "Admin")

admin.info()        # method dari parent
print(admin.role)   # attribute dari child

User name: Andi
Admin

Soal:

Sebuah perusahaan ingin membuat sistem sederhana untuk menghitung gaji karyawan tetap.

Setiap karyawan memiliki data dasar:

- nama
- gaji pokok

Perusahaan hanya memiliki 1 jenis karyawan lanjutan, yaitu Karyawan Tetap.

Karyawan Tetap selain gaji pokok juga memiliki:

- jam lembur per bulan
- tarif lembur per jam
- bonus bulanan

Perusahaan juga menerapkan:
- pajak 10% dari total gaji kotor

In [ ]:
class Karyawan:
    def __init__(self, nama, gaji_pokok):
        """
        Inisialisasi data dasar karyawan.

        Parameters
        ----------
        nama : str
            Nama karyawan.

        gaji_pokok : int or float
            Gaji pokok per bulan.
        """
        self.nama = nama
        self.gaji_pokok = gaji_pokok

    def info(self):
        """
        Menampilkan informasi dasar karyawan.
        """
        print(f"Nama: {self.nama}")
        print(f"Gaji Pokok: {self.gaji_pokok}")


class KaryawanTetap(Karyawan):
    def __init__(self, nama, gaji_pokok, jam_lembur, tarif_lembur, bonus):
        """
        Inisialisasi data karyawan tetap.

        Parameters
        ----------
        nama : str
            Nama karyawan.

        gaji_pokok : int or float
            Gaji pokok per bulan.

        jam_lembur : int
            Total jam lembur per bulan.

        tarif_lembur : int or float
            Tarif lembur per jam.

        bonus : int or float
            Bonus bulanan.
        """
        super().__init__(nama, gaji_pokok)
        self.jam_lembur = jam_lembur
        self.tarif_lembur = tarif_lembur
        self.bonus = bonus

    def hitung_gaji_total(self):
        """
        Menghitung gaji bersih karyawan tetap.

        - Lembur hanya dihitung jika jam_lembur > 0
        - Pajak 10% dikenakan jika gaji kotor >= 10.000.000

        Returns
        -------
        dict
            Dictionary berisi rincian gaji:
            - nama
            - gaji_pokok
            - lembur
            - bonus
            - pajak
            - gaji_bersih
        """
        # hitung lembur
        if self.jam_lembur > 0:
            gaji_lembur = self.jam_lembur * self.tarif_lembur
        else:
            gaji_lembur = 0

        # gaji sebelum pajak
        gaji_kotor = self.gaji_pokok + gaji_lembur + self.bonus

        # aturan pajak
        if gaji_kotor >= 10_000_000:
            pajak = 0.1 * gaji_kotor
        else:
            pajak = 0

        gaji_bersih = gaji_kotor - pajak

        return {
            "nama": self.nama,
            "gaji_pokok": self.gaji_pokok,
            "lembur": gaji_lembur,
            "bonus": self.bonus,
            "pajak": pajak,
            "gaji_bersih": gaji_bersih
        }

In [ ]:
# membuat object KaryawanTetap
karyawan = KaryawanTetap(
    nama="Andi",
    gaji_pokok=8_000_000,
    jam_lembur=12,
    tarif_lembur=75_000,
    bonus=1_500_000
)

# panggil method info (dari parent class)
karyawan.info()

# hitung gaji total
hasil = karyawan.hitung_gaji_total()

# tampilkan hasil perhitungan
print("\nRincian Gaji:")
for key, value in hasil.items():
    print(f"{key}: {value}")

Nama: Andi
Gaji Pokok: 8000000

Rincian Gaji:
nama: Andi
gaji_pokok: 8000000
lembur: 900000
bonus: 1500000
pajak: 1040000.0
gaji_bersih: 9360000.0